*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(bg.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed; */
    background-color: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(8px);
    box-shadow:8.7px 8.7px 3.7px rgba(204, 204, 204, 0.015),
    17.5px 17.5px 8.2px rgba(187, 184, 184, 0.042),
    26.8px 26.8px 14px rgba(212, 209, 209, 0.057),
     36.9px 36.9px 21.7px rgba(252, 251, 251, 0.064),
     49.3px 49.3px 32.3px rgba(0, 0, 0, 0.068),
    67.2px 67.2px 49.3px rgba(0, 0, 0, 0.07),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.menu{
    list-style: none;
    display: flex;
    column-gap: 13px;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0 50px;
}

.menu a {
    color: white;
    background-color: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(8px);
    margin: 0 15px;
    border-radius: 12px;
    border: 0 solid #333;
    padding: 4px;
    transition: 0.2s ease-in-out;
    font-family: 'Redressed', cursive;
    font-size: 17px;
    font-weight: 500;
}

.menu a:hover {
    color: #000;
    background-color: #fff;
    margin: 0 15px;
    border: 1px solid #333;
    padding: 2px;
    border-radius: 12px;
}

.btn1 a{
    background-color: #fff;
    color: #000;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 5px 15px;
    margin: 0 25px 0 0;
    font-family: 'Fondamento', cursive;
    font-size: 18px;
    transition: 0.4s ease-in-out;
}

.btn1 a:hover{
    background-color: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(8px);
    color:#fff;
    border: 1px solid #fff;
}

#toggle {
    display: none;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
}

.hero{
    background-color: #333;
    background-blend-mode: overlay;
    padding: 15% 0;
    margin-top: 5%;
    opacity: 0.70;
}

.hero1 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 100px;
    font-weight: 600;
    font-family: 'Rouge Script', cursive;
}

.hero1 P {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
}

.hero .btnsi h3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 17px;
    padding: 0.4%;
    height: 10%;
    width: 15%;
    margin-left: 42%;
    color: #fff;
    font-size: 40px;
    font-family: 'redressed';
    box-shadow:
  0px 2.6px 1.2px rgba(0, 0, 0, 0.041),
  0px 5.7px 2.7px rgba(0, 0, 0, 0.05),
  0px 9.6px 4.6px rgba(0, 0, 0, 0.054),
  0px 14.5px 6.9px rgba(0, 0, 0, 0.056),
  0px 20.9px 10px rgba(0, 0, 0, 0.058),
  0px 29.6px 14.2px rgba(0, 0, 0, 0.059),
  0px 42px 20.1px rgba(0, 0, 0, 0.061),
  0px 61px 29.2px rgba(0, 0, 0, 0.063),
  0px 93.9px 45px rgba(0, 0, 0, 0.066),
  0px 167px 80px rgba(0, 0, 0, 0.07);
    transition: 0.3s ease;
    margin-top: 9%;
}

.hero .btnsi h3 a:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 17px;
    padding: 0.4%;
    height: 10%;
    width: 15%;
    margin-left: 42%;
    color: #000;
    background-color: #fff;
    font-size: 40px;
    font-family: 'redressed';
    box-shadow:
  0px 2.6px 1.2px rgba(0, 0, 0, 0.041),
  0px 5.7px 2.7px rgba(0, 0, 0, 0.05),
  0px 9.6px 4.6px rgba(0, 0, 0, 0.054),
  0px 14.5px 6.9px rgba(0, 0, 0, 0.056),
  0px 20.9px 10px rgba(0, 0, 0, 0.058),
  0px 29.6px 14.2px rgba(0, 0, 0, 0.059),
  0px 42px 20.1px rgba(0, 0, 0, 0.061),
  0px 61px 29.2px rgba(0, 0, 0, 0.063),
  0px 93.9px 45px rgba(0, 0, 0, 0.066),
  0px 167px 80px rgba(0, 0, 0, 0.07)
;
}

.container{
    background-color: #8ea0a3c5;
    display: flex;
    align-items: center;
}

.image1 img{
    margin-top: 100px;
    margin-left: 52%;
    border-radius: 50%;
    border: 3px solid #000;
}

.image1 .ico i {
    margin-left: 255px;
    margin-top: 25px;
    border: 2px solid #000;
    border-radius: 50%;
}

.image1 .ico h6 {
    margin-left: 250px;
    font-family: 'Redressed';
    font-size: 18px;
    font-weight: bold;
}

.aboutme{
    margin-top: 90px;
    height: 80%;
    width: 50%;
    initial-letter: inherit;
    padding-right: 2px;
    border-right: 3px solid #333;
}

.aboutme h1{
    margin-left: 242px;
    margin-bottom: 10px;
}

.aboutme p{
    margin-left: 142px;
    margin-top: 20px;
}

section{
    margin-top: 15px;
    margin-bottom: 15px;
}

.active, .carousel-item{
    height: 75vh;
    width: 70%;
    left: 14%;
}

.techy{
    margin: 50px 0 50px 37%;
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Redressed';
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    column-gap: 20px;
    row-gap: 30px;
    margin-left: 80px;
}

.projectsdiv h1{
    margin: 120px 0 50px 40%;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    font-family: 'Redressed';
}

.projectsdiv p{
    margin: 4%;
    font-size: 18px;
    color: #fff;
}

.cardsp{
    background-color: rgba(255, 255, 255, 0.712);
    display: flex;  
}

.cardsp1{
    background-color: rgba(255, 255, 255, 0.712);
    display: flex;  
}

.cardsp2{
    background-color: rgba(255, 255, 255, 0.712);
    display: flex;  
}

.cardp{
    height: 20%;
    width: 25%;
    margin: 8% 4% 2% 4%;
    background-color: rgba(0, 0, 0, 0.02);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    border: 2px solid transparent;
    box-shadow:
  0px 6.9px 2px rgba(0, 0, 0, 0.081),
  0px 12.8px 4.6px rgba(0, 0, 0, 0.143),
  0px 18px 8.3px rgba(0, 0, 0, 0.171),
  0px 23.3px 13.8px rgba(0, 0, 0, 0.178),
  0px 30.4px 22.8px rgba(0, 0, 0, 0.173),
  0px 44.5px 39.8px rgba(0, 0, 0, 0.16),
  0px 100px 86px rgba(0, 0, 0, 0.14)
;
    transition: 0.3s ease;
}

.cardp:hover{
    border: 2px solid #333;
}

.cardimg img{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.cardtitle{
    background-color: rgba(134, 130, 130, 0.712);
    border-bottom-left-radius: 12px;   
    border-bottom-right-radius: 12px; 
    padding: 2%; 
}

.infocardt a{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.infocardt a:hover{
    color: orangered;
}

.infocardt a i {
    padding-bottom: 3.5%;
}

.servicecard{
    background: url(bg7.jpg), #333;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.serve h1{
    margin: 120px 0 50px 40%;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    font-family: 'Redressed';
}

.serve p{
    margin: 4%;
    font-size: 18px;
    color: #fff;
}

.servicecards1, .servicecards2 {
    display: flex;
}

.serve1{
    height: 20%;
    width: 25%;
    margin: 8% 4% 2% 4%;
    color: #fff;
    background-color: rgba(87, 87, 87, 0.233);
    backdrop-filter: blur(8px);
    padding: 2%;
    border-radius: 13px;
    box-shadow:
  0px 5.5px 2.2px rgba(0, 0, 0, 0.085),
  0px 11.6px 5.3px rgba(0, 0, 0, 0.122),
  0px 19.2px 10px rgba(0, 0, 0, 0.146),
  0px 30px 17.9px rgba(0, 0, 0, 0.168),
  0px 48.9px 33.4px rgba(0, 0, 0, 0.194),
  0px 101px 80px rgba(0, 0, 0, 0.24);
  transition:0.3s ease;
}

.serve1:hover{
    color: rgb(173, 117, 212);
    background-color: rgba(236, 134, 75, 0.37);
    backdrop-filter: blur(8px);
}

.serve1 img{
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 3%;
    margin-left: 35%;
    margin-bottom: 2%;
    transition: 0.3s;
}

.serve1 img:hover{
    background-color: rgb(51,3,85);
}

.serve1 h3{
    margin-left: 25%;
}

#webdev, #graph, #digit{
    margin-left: 13%;
}

.galleryname h1{
    margin: 120px 0 50px 40%;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    font-family: 'Redressed';
}

.galleryname p{
    margin: 4%;
    font-size: 18px;
    color: #fff;
}

.gallerypics1, .gallerypics2{
    display: flex;
}

.gallerypics{
    background: url(bg4.jpg), #333;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.pic1{
    margin: 3% 1% 3% 1.5%;
}

.pic1 img{
    height: 200px;
    width: 300px;
    border-radius: 16px;
}

.blogsdiv h1{
    margin: 120px 0 50px 40%;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    font-family: 'Redressed';
}

.blogsdiv p{
    margin: 4%;
    font-size: 18px;
    color: #fff;
}

.blogs{
    background: url(bg8.jpg), #1d1d1d;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
}

.blogs1{
    display: flex;
}

.blogs2{
    display: flex;
}

.blogs3{
    display: flex;
}

.blog{
    margin: 3% 3%;
    display: flex;
    background-color: rgba(51, 50, 50, 0.377);
    backdrop-filter: blur(8px);
    color: #fff;
    border-radius: 15px;
}

.blog img {
    height: 210px;
    width: 280px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.tittle{
    margin-left: 1.5%;
}

.contacttittle h1{
    margin: 120px 0 50px 40%;
    color: #fff;
    font-size: 82px;
    font-weight: 700;
    font-family: 'Redressed';
}

.contacttittle p{
    margin: 4%;
    font-size: 18px;
    color: #fff;
}

.contactbg{
    background: url(bg2.png), rgb(252, 71, 0);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.contactform, .googlemap {
    padding: 3%;
}

.contactform > form > input, textarea {
    align-items: center;
    height: 2%;
    width: 80%;
    margin: 1% 1% 0 7%;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: 2px solid orangered;
}

.contactform > form > input:hover, textarea:hover{
    color: #000;
    background-color: rgb(252, 71, 0);
    border: 2px solid #fff;
}

.googlemap{
    margin: 2% 0 0 15%;
}

#btnin{
    height: 20%;
    width: 20%;
    padding: 1%;
    border: 2px solid rgb(252, 71, 0);
    color: rgb(252, 71, 0);
    margin-top: 3%;
    margin-left: 35%;
}

#btnin:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: rgb(252, 71, 0);
}

.footparent{
    background: url(bg5.jpg), #333;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    display: flex;
    margin: 1%;
}

.logo1{
    margin: 2%;
}

.logo1 h1{
    font-size: 72px;
    font-family: 'Redressed';
    margin: 10% 0 0 50px;
    color: #fff;
}

.logo1 h1:hover, address h3:hover,.logo1 address p:hover{
    color: orangered;
}

.logo1 h3, .logo1 p{
    font-size: 20px;
    font-family: 'Redressed';
    margin: 0 0 0 50px;
    color: #fff;
}

.logo1 h3{
    font-size: 30px;
}

.footcard{
    display: flex;
}

.fc{
    color: #fff;
}

.fc h2{
    margin: 10% 0 0 17%;
}

ul{
    list-style: none;
}

.q ul li a {
    color: #fff;
    align-items: center;
    justify-content: center;
}


.q ul li a:hover{
    color: rgb(83, 83, 207);
    align-items: center;
    justify-content: center;
}

.qlink1 .q1 ul li a {
    color: #fff;
    align-items: center;
    justify-content: center;
}

.qlink2 ul li a {
    color: #fff;
    align-items: center;
    justify-content: center;
}

.qlink2 ul li:hover, .qlink2 ul li a:hover{
    color: rgb(83, 83, 207);
}


.qlink{
    display: flex;
    padding: 2%;
    margin: 2%;
    height: 100%;
    width: 120%;
}

.qlink1{
    display: flex;
    padding: 2%;
    margin: 2% 0 0 30%;
    height: 100%;
    width: 120%;
}

.qlink2{
    padding: 2%;
    margin: 2% 0 0 24%;
    height: 100%;
    width: 80%;
}

#oq{
    margin-left: 32%;
}

#ql {
    margin-left: 50%;
}


@media only screen and (max-width: 768px) {
    #toggle {
        display: block;
    }

    .menu {
        flex-direction: column;
        position: absolute;
        top: 100vh;
        width: 100%;
        background-color: rgba(66, 69, 70, 0.425);
        backdrop-filter: blur(10px);
        left: 0;
        display: none;
    }

    .menu a {
        color: #fff;
    }

    .menu a:hover {
        color: #333;
    }

    .menu.active {
        display: block;
    }

    .btn1 {
        flex-direction: column;
        position: absolute;
        top: 130vh;
        width: 100%;
        color: #000;
        left: 40%;
        display: none;
    }

    .btn1 a {
        color: #000;
    }

    .btn1 a:hover {
        background-color: rgba(0, 0, 0, 0.02);
        backdrop-filter: blur(8px);
        color: #fff;
    }

    .btn1.active {
        display: block;
    }

}